<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
 <div class="well profile">
    <div class="col-sm-12">
      <div class="col-xs-12 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= t ".Email" %>: </strong> <%= @user.email %></p>
          <% if @user.date_of_birth != nil %>
            <p><strong><%= t ".Birthday" %>: </strong>
              <%= @user.date_of_birth.strftime("%d.%m.%Y") %>
            </p>
          <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= image_tag @user.avatar.url(:thumb) %>
      </div>
    </div>
    <div class="col-xs-12 divider text-center">
        <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong><%= @user.followers.count %></strong></h2>
          <p><small>Followers</small></p>
        </div>
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong><%= @user.following.count %></strong></h2>
        <p><small>Following</small></p>
        <% if current_user == @user %>
          <%= link_to edit_user_registration_path, class: "btn btn-info btn-block" do %>
              <span class="fa fa-user"></span> <%= t "Edit" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong><%= @user.posts.count %></strong></h2>
        <p><small><%= t "Posts" %></small></p>
      </div>
    </div>
 </div>
</div>

<% @users.each do |user| %>
  <div class="col-md-6">
   <div class="well profile">
      <div class="col-sm-12">
        <div class="col-xs-12 col-sm-8">
            <h2><%= user.name %></h2>
            <p><strong><%= t ".Email" %>: </strong> <%= user.email %></p>
            <p><strong><%= t ".Birthday" %>: </strong>
              <%= user.date_of_birth.strftime("%d.%m.%Y") %></p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <%= image_tag user.avatar.url(:thumb) %>
        </div>
      </div>
      <div class="col-xs-12 divider text-center">
        <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong><%= user.followers.count %></strong></h2>
          <p><small><%= t "Followers" %></small></p>
          <% if current_user.following? user %>
            <%= form_for current_user.active_relationships.find_by(followed_id: user.id),
              html: {method: :delete} do |f| %>
              <%= f.submit "Unfollow", class: "btn" %>
            <% end %>
          <% else %>
            <%= form_for current_user.active_relationships.build do |f| %>
              <div><%= hidden_field_tag :followed_id, user.id %></div>
              <%= f.submit "Follow", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong><%= @user.following.count %></strong></h2>
          <p><small><%= t "Following" %></small></p>
        </div>
        <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong><%= user.posts.count %></strong></h2>
          <p><small><%= t "Posts" %></small></p>
        </div>
      </div>
   </div>
  </div>
<% end %>
