<div class="portlet light portlet-fit bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-bubble font-dark"></i>
      <span class="caption-subject font-dark bold uppercase"><%= t "Posts" %></span>
    </div>
    <div class="actions">
      <div class="btn-group">
        <%= link_to t("Create new post"), new_post_path,
          class: "btn dark btn-outline btn-circle btn-sm" %>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-scrollable">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th> # </th>
            <th> <%= t ".Title" %> </th>
            <th> <%= t ".Description" %> </th>
            <th> <%= t "User" %> </th>
            <th> <%= t "Created_at" %> </th>
            <th colspan="2"> <%= t "Actions" %> </th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each_with_index do |post, index| %>
            <tr>
              <td> <%= index + 1 %> </td>
              <td> <%= truncate post.title, length: 70 %> </td>
              <td> <%= truncate post.description, length: 100 %> </td>
              <td> <%= link_to post.user.name, admin_user_path(post.user.id) %> </td>
              <td> <%= post.created_at.strftime "%d-%m-%Y" %> </td>
              <td>
                <%= link_to t("View"), post_path(post),
                  class: "btn btn-sm grey-salsa btn-outline" %>
              </td>
              <td align="center">
                <%= link_to t("Edit"), edit_admin_post_path(post),
                  class: "btn btn-sm grey-salsa btn-outline" %>
              </td>
              <td align="center">
                <%= link_to t("Destroy"), admin_post_path(post.id),
                  method: :delete, data: {confirm: t("Are you sure?")},
                  class: "btn btn-sm grey-salsa btn-outline" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= will_paginate @posts %>
