<h1><%= @post.title %></h1>
<p class="meta" style="color: blue"><%= @post.description %></p>
<p class="meta" style="color: blue">Posted by
  <a href="#"><%= @post.user.name %></a>
  on <%= @post.created_at %>
</p>
<article>
  <div class="row">
    <div class="col-md-10">
      <%= raw @post.content %>
    </div>
  </div>
</article>
<br>
<div class="fb-share-button" data-href="<%= post_path(@post.id) %>" data-layout="button_count" data-size="large" data-mobile-iframe="true">
  <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fposts%2F1&amp;src=sdkpreparse">Share</a>
</div>
<%= render "comments/comment", :locals => {post: @post, comments: @comments,
  comment: @comment} %>
<div class="edit-back-link">
  <%= link_to t("Edit"), edit_post_path(@post) %> |
  <%= link_to t("Back"), posts_path %>
</div>
