<h1><%= @post.title %></h1>
<p class="meta" style="color: blue"><%= @post.description %></p>
<p class="meta" style="color: blue">Posted by
  <a href="#"><%= @post.user.name %></a>
  on <%= @post.created_at %>
</p>
<article>
  <div class="row">
    <div class="col-md-10">
      <%= raw @post.content %>
    </div>
  </div>
</article>
<br>
<%= render "comments/comment", :locals => {post: @post, comments: @comments,
  comment: @comment} %>
<div class="edit-back-link">
  <%= link_to t("Edit"), edit_post_path(@post) %> |
  <%= link_to t("Back"), posts_path %>
</div>
