<div class="profile full-width">
  <div class="tabbable-line tabbable-full-width">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab_1_1" data-toggle="tab"><%= t "Overview" %></a>
      </li>
      <li>
        <a href="#tab_1_3" data-toggle="tab"><%= t "Account" %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1_1">
        <div class="row">
          <div class="col-md-3">
            <ul class="list-unstyled profile-nav">
              <li>
                <%= image_tag @user.avatar, class: "img-responsive pic-bordered" %>
              </li>
            </ul>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-8 profile-info">
                <h1 class="font-green sbold uppercase"><%= @user.name %></h1>
                <p>
                  <a href="javascript:;"><%= @user.email %></a>
                </p>
                <% if !@user.date_of_birth.nil? %>
                <ul class="list-inline">
                  <li>
                    <i class="fa fa-calendar"></i>
                      <%= @user.date_of_birth.strftime("%d-%m-%Y") %>
                  </li>
                </ul>
                <% end %>
              </div>
              <div class="col-md-4">
                <div class="portlet sale-summary">
                  <div class="portlet-title">
                    <div class="caption font-red sbold">
                      <%= t ".Sumary" %>
                    </div>
                  </div>
                  <div class="portlet-body">
                    <ul class="list-unstyled">
                      <li>
                        <span class="sale-info">
                          <%= t "Posts" %>:
                        </span>
                        <span class="sale-num">
                          <%= @user.posts.size %>
                        </span>
                      </li>
                      <li>
                        <span class="sale-info">
                          <%= t "Following" %>:
                        </span>
                        <span class="sale-num">
                          <%= @user.following.size %>
                        </span>
                      </li>
                      <li>
                        <span class="sale-info">
                          <%= t "Followers" %>:
                        </span>
                        <span class="sale-num">
                          <%= @user.followers.size %>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabbable-line tabbable-custom-profile">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab_1_11" data-toggle="tab"> <%= t "Posts" %> </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1_11">
                  <div class="portlet-body">
                    <table class="table table-striped table-bordered
                      table-advance table-hover">
                      <thead>
                        <tr>
                          <th>
                            <%= t "Title" %>
                          </th>
                          <th class="hidden-xs">
                            <%= t "Descrition" %>
                          </th>
                          <th>
                            <%= t "Updated_at" %>
                          </th>
                          <th> </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @posts.each do |post| %>
                          <tr>
                            <td>
                              <%= truncate post.title, length: 70 %>
                            </td>
                            <td class="hidden-xs">
                              <%= truncate post.description, length: 70 %>
                            </td>
                            <td>
                              <%= post.created_at.strftime "%d-%m-%Y" %>
                            </td>
                            <td>
                              <%= link_to "View", post_path(post.id),
                                class: "btn btn-sm grey-salsa btn-outline" %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_1_3">
        <div class="row profile-account">
          <div class="col-md-12">
            <div class="tab-content">
              <div id="tab_1-1" class="tab-pane active">
                <%= form_for @user, method: :patch, url: admin_user_path do |f| %>
                  <div class="form-group">
                    <%= f.label :name, class: "control-label" %>
                    <%= f.text_field :name, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email, class: "control-label" %>
                    <%= f.email_field :email, autofocus: true,
                      class: "form-control"  %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password, t("Password"),
                      class: "control-label" %>
                    <%= f.password_field :password, autocomplete: "off",
                      class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation,
                      t("Password confirmation"), class: "control-label" %>
                    <%= f.password_field :password_confirmation,
                      autocomplete: "off", class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-new thumbnail"
                        style="width: 200px; height: 150px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail"
                        style="max-width: 200px; max-height: 150px;">
                      </div>
                      <div>
                        <span class="btn default btn-file">
                          <span class="fileinput-new">
                            <%=  t "Select image" %>
                          </span>
                          <span class="fileinput-exists">
                            <%= t "Change" %>
                          </span>
                          <%= f.file_field :avatar %>
                        </span>
                        <a href="javascript:;"
                          class="btn default fileinput-exists"
                          data-dismiss="fileinput">
                          <%= t "Remove" %>
                        </a>
                    </div>
                  </div>
                </div>
                  <div class="form-group">
                    <%= f.label :current_password, class: "control-label" %>
                    <i>
                      (<%= t "we need your current password to confirm your changes" %>)
                    </i>
                    <br />
                    <%= f.password_field :current_password, autocomplete: "off",
                      class: "form-control"  %>
                  </div>
                  <div class="actions">
                    <%= f.submit "Update", class: "btn green" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
