<!DOCTYPE html>
<html>
  <head>
    <title>FRProject2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:url" content="http://localhost:3000" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your Website Title" />
    <meta property="og:description" content="Your description" />
    <meta property="og:image" content="http://www.qygjxz.com/data/out/114/5841762-image.jpg" />

    <link href="/front-end/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet">
    <link href="/front-end/assets/vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

    <link href="/front-end/assets/css/clean-blog.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=105791740202777';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <%= link_to t("AWESOME BLOG"), root_path, class: "navbar-brand" %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="post.html">Sample Post</a>
            </li>
            <% if user_signed_in? %>
              <% if can_log_in_control_panel? %>
                <li class="nav-item">
                  <%= link_to t("Admin Cpanel"),admin_posts_path %>
                </li>
              <% end %>
              <div class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown">
                  <%= t "Hi" %> <%= current_user.name %>
                </button>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <%= link_to current_user do %>
                      <%= t "Profile" %>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to t("Log out"), destroy_user_session_path, method: "delete" %>
                  </li>
                </ul>
              </div>
            <% else %>
              <li class="nav-item">
                <%= link_to t("Log in"), new_user_session_path %>
              </li>
              <li class="nav-item">
                <%= link_to t("Sign up"), new_user_registration_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= render "layouts/header" %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div id="modal" class="modal fade"></div>
      <%= yield %>
    </div>

    <hr>

    <%= render "layouts/footer" %>

    <script src="/front-end/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/front-end/assets/vendor/bootstrap/js/bootstrap.bundle.min.js">
    </script>
    <script src="/front-end/assets/js/clean-blog.min.js"></script>
    <script src="/admin/assets/global/plugins/ckeditor/ckeditor.js"
      type="text/javascript"></script>
  </body>
</html>
